*.o
*.d
.*.swp
/.cproject
/.project
/.settings
/qtcreator.files
/qtcreator.includes
/qtcreator.config
/qtcreator.creator
/qtcreator.creator.user
/Makefile.conf
/abc
/yosys
/yosys-abc
/yosys-config
/yosys-filterlib
/kernel/version_*.cc
/share
