[submodule "verific"]
	path = verific
	url = git@github.com:silimate/verific.git
[submodule "yosys-slang"]
	path = yosys-slang
	url = git@github.com:silimate/yosys-slang.git
[submodule "abc"]
	path = abc
	url = https://github.com/YosysHQ/abc
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
