[submodule "abc"]
	path = abc
	url = https://github.com/YosysHQ/abc
# Don't use paths as names to avoid git archive problems
[submodule "cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "libs/plf_colony"]
	path = libs/plf_colony
	url = git@github.com:mattreecebentley/plf_colony.git
