NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56;

NET "led_0" LOC = P134;
NET "led_1" LOC = P133;
NET "led_2" LOC = P132;
NET "led_3" LOC = P131;
NET "led_4" LOC = P127;
NET "led_5" LOC = P126;
NET "led_6" LOC = P124;
NET "led_7" LOC = P123;
