/* Don't hide the right sidebar as we're placing our fixed links there */
aside.no-toc {
    display: block !important;
}

/* Colorful headings */
h1 {
    color: var(--color-brand-primary);
  }
  
h2, h3, h4, h5, h6 {
    color: var(--color-brand-content);
}

/* Use a different color for external links */
a.external {
    color: var(--color-brand-primary) !important;
}

.wy-table-responsive table td {
    white-space: normal;
}
  
th {
    text-align: left;
}

body[data-theme="dark"] {
    .invert-helper {
        filter: url("data:image/svg+xml,<svg xmlns='http%3A//www.w3.org/2000/svg'><filter id='f'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='1.47 -1.73 -0.467 0 0.867 -0.733 0.467 -0.467 0 0.867 -0.667 -1.07 1.07 0 0.867 0 0 0 1.0 0'></feColorMatrix></filter></svg>#f");
    }
}

@media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) {
        .invert-helper {
            filter: url("data:image/svg+xml,<svg xmlns='http%3A//www.w3.org/2000/svg'><filter id='f'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='1.47 -1.73 -0.467 0 0.867 -0.733 0.467 -0.467 0 0.867 -0.667 -1.07 1.07 0 0.867 0 0 0 1.0 0'></feColorMatrix></filter></svg>#f");
        }
    }
}